body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


.image-group {
  display: flex;
  justify-content: space-between;
  
}

.image {
  width: 80px;
  height: 60px;
  margin: 24px;
}

.card-number {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-info {
  display: flex;
  justify-content: space-between;
}
.input {
  height: 36px;
  border-radius: 4px;
  outline: none;
  padding: 0 16px;
  border: 1px solid #bdbdbd;
  min-width: 250px;
}

.info {
}
.button1 {
  height: 36px;
  min-width: 120px;
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0 16px;
  cursor: pointer;
  background-color: blue;
  color: #fff;
  margin-top: 18px;
}

.table {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  height: 36px;
  min-width: 120px;
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0 16px;
  cursor: pointer;
  background-color: blue;
  color: #fff;
  margin-top: 18px;
}

button:hover {
  background-color: #45a049;
}

.card-list {
  list-style: none;
  padding: 0;
}

.card-list li {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-list li button {
  margin-right: 10px;
  cursor: pointer;
}
